.super-mario {
    width: 200px;
    position:absolute;
  }
  
  .goomba {
    width: 100px;
    position:absolute;
    top:400px;
    left:40px;
  }
  
  .baloon {
    position:absolute;
    bottom:100px;
    right:190px;
    z-index:1;
  }
  
  
  .speach {
    font-size: 25px;
    z-index:2;
    position:absolute;
    bottom:175px;
    right:220px;
  }
  
  .bowser {
    width: 200px;
    position:absolute;
    bottom:0;
    right:0;
  }